// src/App.scss

@import 'https://fonts.googleapis.com/css?family=Share+Tech+Mono';
@font-face {
  font-family: 'Digital';
  src: url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot');
  src: url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot?#iefix')
      format('embedded-opentype'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2')
      format('woff2'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff')
      format('woff'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.ttf')
      format('truetype'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.svg#Digital-7')
      format('svg');
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
html, body {
  height: 100vh;
}

body {
  background: radial-gradient(closest-side, #6c6c6c 50%, #000000);
  color: white;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

#timer-container {
  left: 38%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 350px;
  margin-top: 420px;
  background-color: black;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  #timer-label {
    color: white;
    font-size: 1.5em;
    position: absolute;
    margin-top: 30%;
  }

  #time-left {
    color: rgb(33, 33, 33);
    position: absolute;
    margin-bottom: 30%;
    background: linear-gradient(145deg, #ffffff, #646464);
    border-radius: 10%;
    height: 15%;
    padding:0 10px 0 10px;
    font-family: digital, sans-serif;
    font-size: 3em;
    box-shadow: inset 0 0 10px rgb(0, 0, 0);
    border: 1.5px outset #2a201c;
  }

  .red-text {
    color: red !important;
  }

  #start_stop, #reset {
    background: linear-gradient(145deg, #ffefbe, #ffd104);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
  }

  #start_stop {
    left: -20px;
    top: 75%;
    transform: translateY(-50%);
  }

  #reset {
    right: -20px;
    top: 75%;
    transform: translateY(-50%);
  }

  #break-label {
    left: -80px;
    top: -50%;
    position: absolute;
    transform: translateY(25%);
  }

  #session-label {
    right: -80px;
    top: -50%;
    position: absolute;
    transform: translateY(25%);
  }

  h1 {
    top: -155%;
    min-width: 500px;
    font-size: 8em;
    position: absolute;
    transform: translateY(50%);
    text-align: center;
    flex: wrap;
    color: silver;
  }
}

#time-setup {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;

  .time-setup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    background-color: black;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);


    h2 {
      color: white;
    }

    #break-length, #session-length {
      font-size: 1.5em;
      color: white;
      margin: 10px 0;
    }

    .button {
      background: linear-gradient(145deg, #ffefbe, #ffd104);
      border-radius: 50%;
      width: 40px;
      height: 40px;
      font-size: 1.5em;
      font-weight: bold;
      cursor: pointer;
      position: absolute;
    }

    #break-decrement {
      left: -15px;
      top: 75%;
      transform: translateY(-50%);
    }

    #session-decrement {
      left: -15px;
      top: 25%;
      transform: translateY(-50%);
    }

    #break-increment {
      right: -15px;
      top: 20%;
      transform: translateY(-50%);
    } 
    
    #session-increment {
      right: -20px;
      top: 75%;
      transform: translateY(-50%);
    }
  }
}

#time-setup {
  box-shadow: outset -10px -10px 50px rgba(255, 255, 255, 0.89);
}